body{
    text-align: center;
}

.container{
    display: inline-block;
    background-color: #e8e8e8;
    width: 1440px;
    height: 1700px;
}

.small_title{
    opacity: 0.6;
    font-family: Arial;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #273d46;
    margin: 160px 0 0 0;
}

.title{
    font-family: 'Times New Roman';
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    color: #273d46;
    margin: 28px auto;
    width: 721px;
}

.img_box{
    background-color: white;
    width: 841px;
    height: 561px;
    box-shadow: 0px 15px 65px 0px rgba(15,16,16,0.15);
    margin: 77px auto;
    padding: 10px;
}

#man{
    width: 821px;
    height: 541px;
}

.text{
    text-align: left;
    width: 736px;
    height: 257px;
    opacity: 0.8;
    font-family: 'Times New Roman';
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    color: #273d46;
    margin: 77px auto;
}

.list{
    text-align: left;
    width: 736px;
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    margin: auto;
}

.list img{
    width: 25px;
    height: 19px;
    margin: 8px;
}

.list #li_1{
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #273d46;
}

.list #li_2{
    font-weight: 400;
    font-style: italic;
    color: #80b7b3;
}

.list #li_3{
    font-weight: 700;
    color: #273d46;
}

.list #li_4{
    opacity: 0.3;
    font-weight: 400;
    text-decoration: line-through;
    color: #273d46;
}

.btn_box{
    text-align: left;
    width: 736px;
    margin: 60px auto;
}

button{
    width: 199px;
    height: 44px;
    background-color: #80b7b3;
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
    border-radius: 30px;
    font-family: Arial;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
}

.btn_box img{
    margin: 12px auto 12px 5px;
}